@import '~styles/colors.module.css';

.ErrorPanel {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 2px dashed var(--error-color);
}

.ErrorPanel--centered {
    text-align: center;
}
