:root {
    --main-text-color: #fff;
    --error-color: red;

    --dialog-bg-color: #111;
    --dialog-text-color: #fff;

    --content-bg-color: #000;

    --button-text-color: #fff;
    --button-border-color: #fff;

    --button-border-disabled-color: #969696;
    --button-text-disabled-color: #969696;
}
