@import '../../../styles/colors.module.css';
@import '../../../styles/sizes.module.css';

.Header {
    z-index: 200;
    width: 100%;
    box-sizing: border-box;

    color: var(--main-text-color);
    padding-left: var(--main-content-padding);
    padding-right: var(--main-content-padding);
}

.Header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 150px;
}

.Header__navigationItem {

}
