@import "../../../../styles/colors.module.css";

.RegisterClientPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.RegisterClientPage__wrapper {
    display: flex;
    flex-direction: column;
}

.RegisterClientPage__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    border: 2px dashed var(--main-text-color);
}

.RegisterClientPage__form label {
    padding: 10px 0;
}

.RegisterClientPage__form input {
    margin-left: 10px;
    width: 300px;
}

.RegisterClientPage__form button[type="submit"] {
    margin-top: 10px;
}

.RegisterClientPage__errorPanel {
    text-align: center;
    margin-bottom: 10px;
}
