@import './styles/colors.module.css';
@import 'bundles/common/components/Header/Header.module.css';

.App {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.App__header {
    position: absolute;
}

.App__dialog {
    position: absolute;
}
