@import './styles/colors.module.css';
@import './bundles/common/Header/Header.module.css';

.App {
    height: 100%;
}

.App__header {
    position: absolute;
}

.App__dialog {
    position: absolute;
}
